<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Breadcrumb Component - Personal website blog</title>
        <link rel="stylesheet" href="../assets/css/breadcrumbs.css">
        <link rel="stylesheet" href="../assets/css/globals.css">
    </head>
    <body>
        <section class="breadcrumb ud-bg-secondary ud-lg-padding">
            <div class="ud-container ud-sm-padding">
                <div class="ud-flex ud-items-center ud-justify-center ud-flex-column ud-md-gap">
                    <div class="brand">
                        <h1>ARTICLE NAME</h1>
                    </div>
                    <div class="nav-menu">
                        <ul class="ud-flex ud-items-center ud-sm-gap">
                            <li><a href="#" title="Homepage">Home</a></li>
                            <li>Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>