<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../assets/css/globals.css">
        <link rel="stylesheet" href="../assets/css/content.css">
    </head>
    <body>
        <div class="featured-articles">
            <div class="ud-grid ud-container ud-grid-gap-xs">
                <div class="main ud-lg-padding ud-relative ud-w-100 bg-php-article bg-no-repeat bg-cover bg-center">
                    <div class="bg-overlay ud-absolute ud-w-100 ud-h-100 left-0 top-0"></div>
                    <div class="ud-flex ud-flex-column ud-items-end ud-text-secondary ud-relative z-2 ud-h-100">
                        <h2>What is PHP?</h2>
                        <p>
                            PHP, which stands for "Hypertext Preprocessor," is a widely-used open-source server-side scripting language designed specifically for web development
                        </p>
                    </div>
                </div>
                <div class="secondary ud-lg-padding ud-relative ud-w-100 bg-samsung-article1 bg-no-repeat bg-cover bg-center">
                    <div class="bg-overlay ud-absolute ud-w-100 ud-h-100 left-0 top-0"></div>
                    <div class="ud-flex ud-flex-column ud-items-end ud-text-secondary ud-relative z-2 ud-h-100">
                        <h2>Understanding Samsung's NAND Flash Memory Technology</h2>
                        <p>
                            Introduction NAND flash memory has revolutionized data storage in consumer and enterprise applications. Samsung is at the forefront of this technology
                        </p>
                    </div>
                </div>
                <div class="secondary ud-lg-padding ud-relative ud-w-100 bg-samsung-article2 bg-no-repeat bg-cover bg-center">
                    <div class="bg-overlay ud-absolute ud-w-100 ud-h-100 left-0 top-0"></div>
                    <div class="ud-flex ud-flex-column ud-items-end ud-text-secondary ud-relative z-2 ud-h-100">
                        <h2>The Evolution of Samsung DRAM Technology</h2>
                        <p>
                            Introduction Samsung Electronics has been a leader in the semiconductor industry for decades, particularly in DRAM (Dynamic Random Access Memory) technology.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>