<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Component - Personal Blog website</title>
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/globals.css">
</head>
<body>
    <div class="top-footer ud-flex ud-flex-wrap ud-lg-padding">
        <div class="ud-container ud-sm-padding">
            <div class="ud-flex ud-flex-wrap ud-items-center ud-justify-between ud-flex-row">
                <div class="brand footer-column">
                    <a href="/" title="Udblog - Home page">Udblog</a>
                </div>
                <div class="nav-menu footer-column">
                    <h4>Important Links</h4>
                    <hr>
                    <ul class="ud-flex ud-flex-wrap ud-flex-column ud-items-start ud-sm-gap">
                        <li><a href="#" title="Homepage">Home</a></li>
                        <li><a href="#" title="About Page">About</a></li>
                        <li><a href="#" title="Blog Page">Blog</a></li>
                        <li><a href="#" title="Contact Page">Contact</a></li>
                    </ul>
                </div>
                <div class="newsletter-form footer-column">
                    <h4>Subscribe to our newsletter</h4>
                    <hr>
                    <form>
                        <div class="ud-form-group">
                            <input type="email" name="email" id="email" placeholder="Enter your e-mail address">
                        </div>
                        <div class="ud-form-group">
                            <input type="text" name="full_name" id="fullName" placeholder="Enter your Full name">
                        </div>
                        <div class="ud-form-group">
                            <button class="btn btn-block" type="submit">Send <i class="icon-send"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="ud-container ud-sm-padding">
            <div class="copyright ud-flex ud-items-center ud-justify-center">
                <p>
                    All Copyrights reserved.
                </p>
            </div>
        </div>
    </footer>
</body>
</html>