<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sidebar Component - Personal Blog website</title>
        <link rel="stylesheet" href="../assets/css/sidebar.css">
        <link rel="stylesheet" href="../assets/css/globals.css">
    </head>
    <body>
        <div class="sidebar">
            <div class="ud-flex ud-flex-column">
                <div class="newsletter-form ud-md-padding">
                    <h4>Subscribe to newsletter</h4>
                    <hr>
                    <form>
                        <div class="ud-form-group">
                            <input type="email" name="email" id="email" placeholder="Enter your e-mail address">
                        </div>
                        <div class="ud-form-group">
                            <input type="text" name="full_name" id="fullName" placeholder="Enter your Full name">
                        </div>
                        <div class="ud-form-group">
                            <button class="btn btn-block" type="submit">Send <i class="icon-send"></i></button>
                        </div>
                    </form>
                </div>
                <div class="newsletter-form ud-md-padding">
                    <h4>Articles</h4>
                    <hr>
                    <ul class="ud-flex ud-flex-column ud-gap-sm">
                        <li><a href="#">Understanding PHP: A Beginner’s Guide?</a></li>
                        <li><a href="#">Understanding Samsung's NAND Flash Memory Technology</a></li>
                        <li><a href="#">The Evolution of Samsung DRAM Technology</a></li>
                        <li><a href="#">Samsung Memory Solutions for AI and Big Data</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>