:root {
    --bg-primary: #FFF8E8;
    --bg-secondary: #F7EED3;
    --text-primary: #674636;
    --text-primary-dark: #361e12;
    --text-secondary: #AAB396;
    --btn-border: #000000;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    background: var(--bg-primary);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
    list-style: none;
}

a {
    color: var(--text-primary-dark);
    text-decoration: none;
    transition: color ease-in-out 0.5s;
    font-weight: 700;
}
a:hover {
    color: var(--text-secondary);
}
h3 {
    color: var(--text-primary);
    font-weight: 900;
    font-size: 1.4rem;
}
h4 {
    color: var(--text-primary);
    font-weight: 900;
    font-size: 1.2rem;
}
hr {
    border-color: var(--text-primary);
    width: 50%;
    margin: 0.5rem 0 2rem 0;
}
input {
    background-color: transparent;
    outline: none;
    border: 3px solid var(--btn-border);
    padding: 10px 20px;
    border-radius: 8px;
    width: 100%;
    color: var(--text-primary);
}

/***** Start Flex Styles *****/
.ud-flex {
    display: flex;
}
.ud-flex-wrap {
    flex-wrap: wrap;
}
.ud-flex-nowrap {
    flex-wrap: nowrap;
}
.ud-items-center {
    align-items: center;
}
.ud-items-start {
    align-items: flex-start;
}
.ud-justify-center {
    justify-content: center;
}
.ud-justify-start {
    justify-content: flex-start;
}
.ud-justify-between {
    justify-content: space-between;
}
.ud-flex-column {
    flex-direction: column;
}
.ud-flex-row {
    flex-direction: row;
}
.ud-items-end {
    justify-content: flex-end;
}

/***** Start Grid Styles *****/
.ud-grid {
    display: grid;
}

/***** Start Gap Styles ****/
.ud-sm-gap {
    gap: 1rem;
}
.ud-md-gap {
    gap: 2rem;
}
.ud-grid-gap-xs {
    gap: 0.05rem;
}


/***** Start Padding & Margin Styles *****/
.ud-sm-padding {
    padding: 1rem 0.5rem;
}
.ud-md-padding {
    padding: 2rem 1rem;
}
.ud-lg-padding {
    padding: 3rem 1.4rem;
}
.padding-inline-md {
    padding: 2rem;
}

/***** Start Global Form Styles *****/
.ud-form-group {
    margin: 1rem 0;
    width: 100%;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #000000;
    font-weight: 600;
}
::placeholder {
    color: #000000;
    font-weight: 600;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000000;
    font-weight: 600;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000000;
    font-weight: 600;
}

/***** Start Width & Height Styles *****/
.ud-w-100 {
    width: 100%;
}
.ud-h-100 {
    height: 100%;
}

/**** Start BG styles *****/
.bg-php-article {
    background-image: url('../images/php.jpg');
}
.bg-samsung-article1 {
    background-image: url('../images/samsung.jpg');
}
.bg-samsung-article2 {
    background-image: url('../images/samsung-sm-card.jpg');
}
.bg-no-repeat {
    background-repeat: no-repeat;
}
.bg-cover {
    background-size: cover;
}
.bg-center {
    background-position: center center;
}
.bg-overlay {
    background-color: var(--text-primary);
    opacity: 0.7;
    z-index: 1;
}
.ud-bg-secondary {
    background-color: var(--bg-secondary);
}

/**** Start Positioning Styles *****/
.ud-relative {
    position: relative;
}
.ud-absolute {
    position: absolute;
}
.z-2 {
    z-index: 2;
}
.left-0 {
    left: 0;
}
.top-0 {
    top: 0;
}

/***** Start Containers Styles *****/
.ud-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.ud-card {
    font-size: 1rem;
    padding: 5px;
    border-radius: 0.8rem;
    /* background-color: var(--text-secondary); */
    border: 1px solid var(--text-primary);
    color: var(--text-primary);
}
.ud-card-cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.ud-card-image-container {
    border-radius: 0.8rem;
    height: 200px;
}
.ud-card-text-container {
    margin: 10px;
    text-align: justify;
}
.ud-text-secondary {
    color: var(--bg-primary);
}

/***** BUTTON Styles *****/
.btn {
    background: transparent;
    outline: none;
    padding: 0.6rem 2rem;
    width: 50%;
    text-align: center;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.1rem;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    color: var(--btn-border);
    border: 3px solid var(--btn-border);
}
.btn:hover {
    background-color: var(--text-primary);
    color: var(--bg-primary);
}