header {
    border-radius: 10px;
    margin: 1rem 2rem;
}

header .brand {
    font-size: 2rem;
}

header .brand a {
    text-decoration: none;
    color: var(--text-primary);
    transition: color ease-in-out 0.5s;
}

header .brand a:hover {
    color: var(--text-secondary);
}