@import url('./globals.css');
@import url('./icons.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./content.css');
@import url('./sidebar.css');
@import url('./breadcrumbs.css');

section.content {
    margin: 1rem 2rem;
}

section.content .ud-grid {
    grid-template-areas: "blog blog blog sidebar";
    gap: 15px;
}

section.content .ud-grid .blog {
    grid-area: blog;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
