@import url('./globals.css');
@import url('./icons.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./content.css');
@import url('./sidebar.css');
@import url('./breadcrumbs.css');

section.content {
    margin: 1rem 2rem;
}

section.content .ud-grid {
    grid-template-areas: "blog blog blog sidebar";
    gap: 15px;
}

section.content .ud-grid .blog {
    grid-area: blog;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

section.content .ud-grid .blogpost {
    grid-area: blog;
    border-radius: 10px;
}

section.content .ud-grid .blogpost .author-info {
    border: 2px solid var(--text-primary);
    padding: 10px 20px;
}

@media(max-width: 526px) {
    .nav-menu {
        display: none;
    }
    header .brand {
        width: 100%;
        text-align: center;
    }
    section.breadcrumb h1 {
        font-size: 1.5rem;
    }
    section.content .ud-grid {
        grid-template-areas: "blog";
    }
    section.content .ud-grid .blogpost .author-info {
        flex-direction: column;
    }
    .ud-card-cols-4 {
        grid-template-columns: 1fr;
    }
    .top-footer .brand {
        font-size: 3rem;
    }
}
